<div class="container coasters-index">

  <a href="/coasters/new" class="btn btn-dark">Crear nueva montaña rusa</a>

  <h1 style="font-weight: 100">Índice de montañas rusas</h1>


  {{#each allCoasters}}
    <hr>
    <a href="/coasters/{{id}}" class="btn btn-sm btn-dark">Ver detalles</a>
    <h4>{{name}}</h4>
    <p>{{description}}</p>
    <small><strong>Longitud: </strong> {{length}} | <strong>Inversiones: </strong> {{inversions}} | <strong>Parque: </strong> {{park_id.name}}</small>
    <hr>
  {{/each}}

</div>