<div class="container coasters-index">

  <h1 style="font-weight: 100">{{name}}</h1>

  <h4>Descripción</h4>
  <p>{{description}}</p>
  <p><strong>Longitud: </strong> {{length}} | <strong>Inversiones: </strong> {{inversions}}</p>

  <hr>

  <h5>Sobre el parque</h5>
  <p><strong>Nombre</strong>: {{park_id.name}}</p>
  <p><strong>Descripción</strong>: {{park_id.description}}</p>

  <hr>
  <a class="btn btn-primary" href="/coasters/edit?id={{id}}" role="button">Edit</a>
  <form action="/coasters/delete?id={{id}}" method="POST">
    <button class="btn btn-danger" type="submit">Delete</button>
  </form>
  <hr>

  <a href="/coasters" class="btn btn-dark">Volver</a>

</div>